@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* font-family: "Playfair Display", serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", sans-serif; */

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-theme-blue: #008DD5;
  /* LIGHT MODE COLORS */
  --color-bg-light: #F5F5F5;
  --color-surface-light: #DDDDDD;
  --color-primaryText-light: #161616;
  --color-secondaryText: #222222;
  --color-divider-light: #C4C4C4;
  /* DARK MODE COLORS */
  --color-bg-dark: #121212;
  --color-surface-dark: #1D1D1D;
  --color-primaryText-dark: #F1F1F1;
  --color-secondaryText-dark: #CCCCCC;
  --color-divider-dark: #333333;
  /* FONTS */
  --font-heading: "Playfair Display", serif;
  --font-regular: "Inter", sans-serif;
}

@layer base {

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-bg-light);
    color: var(--color-primaryText-light);
    font-family: var(--font-regular);
  }

  button {
    cursor: pointer;
  }
}
